<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body class="min-h-screen pb-10">
    <nav class="navbar bg-base-100 pb-10">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/"
          >Climate Solutions</a
        >
      </div>

      <div class="navbar-center flex">
        <ul class="menu menu-horizontal px-1">
          <li class="mx-4"><a class="active" href="/about">About</a></li>
          <li>
            <details>
              <summary>Sector</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li>
                  <a href="/solutions/projects?sector=Industry">Industry</a>
                </li>
                <li>
                  <a href="/solutions/projects?sector=Land%20Sinks"
                    >Land Sinks</a
                  >
                </li>
                <li>
                  <a href="/solutions/projects?sector=Transportation"
                    >Transportation</a
                  >
                </li>
                <li>
                  <a href="/solutions/projects?sector=Electricity"
                    >Electricity</a
                  >
                </li>
                <li>
                  <a
                    href="/solutions/projects?sector=Food,%20Agriculture,%20and%20Land%20Use"
                    >Food, Agriculture, and Land Use</a
                  >
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mx-auto min-h-32 mb-10">
      <div class="hero bg-base-300 p-12 shadow-lg rounded-lg">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">
              Somewhere on this page is a hidden message that will lead you to
              earn your first - $1,000,000 USD. <br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <figure>
          <img class="h-full" src="/assets/Blast.png" alt="Blast" />
        </figure>
        <div>
          <div class="font-bold">
            Blast is the only Ethereum L2 with native yield for ETH and
            stablecoins.
          </div>
          <p class="pt-6">
            As you know, Blast started as the chain with native yield. In 4
            months Blast has grown to the 6th largest onchain economy, and is
            one of the fastest growing chains of all time.
          </p>
          <p class="pt-6">
            The big question now is, what’s next? Blast’s overarching purpose is
            to accelerate the market’s transition from an offchain economy to an
            onchain economy.
          </p>
          <p class="pt-6">
            There are no restrictions on what you can build. Whether you are
            building a DeFi or Consumer Dapp, an NFT Collection or a Community
            Coin or something else entirely the Big Bang is the best place to
            start building mobile first projects on Blast.
          </p>
          <p class="pt-6 font-bold">Build on Blast!</p>
        </div>
      </div>
    </div>
  </body>
</html>
