<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate Solutions</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body class="min-h-screen pb-10">
    <nav class="navbar bg-base-100 pb-10">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/"
          >Climate Solutions</a
        >
      </div>

      <div class="navbar-center flex">
        <ul class="menu menu-horizontal px-1">
          <li class="mx-4"><a href="/about">About</a></li>
          <li>
            <details>
              <summary>Sector</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li>
                  <a href="/solutions/projects?sector=Industry">Industry</a>
                </li>
                <li>
                  <a href="/solutions/projects?sector=Land%20Sinks"
                    >Land Sinks</a
                  >
                </li>
                <li>
                  <a href="/solutions/projects?sector=Transportation"
                    >Transportation</a
                  >
                </li>
                <li>
                  <a href="/solutions/projects?sector=Electricity"
                    >Electricity</a
                  >
                </li>
                <li>
                  <a
                    href="/solutions/projects?sector=Food,%20Agriculture,%20and%20Land%20Use"
                    >Food, Agriculture, and Land Use</a
                  >
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mx-auto min-h-32 mb-10">
      <div class="hero bg-base-300 p-12 shadow-lg rounded-lg">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Congrats!</h1>
            <p class="py-6">
              This website is one of the most important things you'll ever read
              in your life. <br />
            </p>
            <button
              class="btn btn-primary"
              onclick="window.location.href='/solutions/projects'"
            >
              Lessgoo
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure>
              <img
                class="w-full"
                src="https://drawdown.org/sites/default/files/solutions2020/solution_grid_flexibility.jpg"
                alt="Grid Flexibility"
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Grid Flexibility</h2>
              <div class="text-sm">
                Smarter, more flexible electric grids can cut energy losses.
                They also are critical to mainstreaming renewables, which are
                more variable than conventional energy sources.
              </div>
              <div class="card-actions justify-end pt-4">
                <button class="btn btn-primary" onclick="window.location.href='/solutions/projects/29'">Gimme more</button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure>
              <img
                class="w-full"
                src="https://drawdown.org/sites/default/files/solutions2020/solution_seafloorprotection.jpg"
                alt="Seafloor Protection"
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Seafloor Protection</h2>
              <div class="text-sm">
                Vast amounts of carbon stored in seafloor sediments risk release by bottom-trawling fishing. Bottom-trawling bans and establishment of Marine Protected Areas can protect this important carbon sink.
              </div>
              <div class="card-actions justify-end pt-4">
                <button class="btn btn-primary" onclick="window.location.href='/solutions/projects/30'">Gimme more</button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure>
              <img
                class="w-full"
                src="https://drawdown.org/sites/default/files/solutions2020/solution_electric_bicycles.jpg"
                alt="Electric Bicycles"
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Electric Bicycles</h2>
              <div class="text-sm">
                Battery-powered motors can boost the use of bicycles, reducing greenhouse gas emissions from cars.
              </div>
              <div class="card-actions justify-end pt-4">
                <button class="btn btn-primary" onclick="window.location.href='/solutions/projects/28'">Gimme more</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
